
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <nav class="menu">
                    <%#<a class="enlace" href="#"> Entrega a domicilio</a>
                    <a class="enlace" href="#"> Pedidos en linea</a>#%>
                    <a class="enlace" id="enlace1" href="#">Ubicacion</a>  
                </nav>
            </div>
        </div>
    </div>
</footer>
